@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 650px) {
  #restaurants-list {
    display: grid;
    grid-template-columns: auto;
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 10;
    text-align: center;
  }

  #restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial,sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
  }

  /*-----------------
  details restaurant page
  ------------------*/
  .inside #breadcrumb {
    width: 100%;
  }

  .inside #map-container {
    margin-top: 131px;
  }

  #restaurant-container {
    display: grid;
    margin: 1rem 2rem;
  }

  #restaurant-img {
    width: 100%;
  }

  /*-------------------
    details restaurant page reviews section
  -------------------*/

  #reviews-container h2 {
    margin-left: 2rem;
  }

  #reviews-list li {
    width: 100%;
  }

  .review-header {
    display: grid;
    grid-template-columns: auto auto;
    background: #333;
  }

  .review-name {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
  }

  .review-date {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem 1rem 0 0;
  }

  .rating {
    background: #f58500;
    width: fit-content;
    width: -moz-fit-content;
    color: #fff;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0 0 0.8rem;
  }

  .comments {
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 651px) and (max-width: 800px) {
  #restaurants-list {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 10;
    text-align: center;
  }

    /*-----------------
  details restaurant page
  ------------------*/
  .inside #breadcrumb {
    width: 100%;
  }

  .inside #map-container {
    margin-top: 131px;
  }

  #restaurant-container {
    display: grid;
    margin: 1rem 2rem;
  }

  #restaurant-img {
    width: 100%;
  }

  /*-------------------
    details restaurant page reviews section
  -------------------*/

  #reviews-list li {
    width: 100%;
  }

}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  #restaurants-list {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 10;
    text-align: center;
  }

    /*-----------------
  details restaurant page
  ------------------*/
  .inside #maincontent {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-auto-flow: column;
  }

  .inside #map-container {
    grid-column-start: 2;
    margin-top: 80px;
  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }

  .inside #restaurant-container {
    padding: 9rem 1rem 0;
  }

  #restaurant-img {
    width: 100%;
  }

}

@media screen and (min-width: 1201px) {
  #restaurants-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
  }

      /*-----------------
  details restaurant page
  ------------------*/
  .inside #maincontent {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-auto-flow: column;
  }

  #restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 9rem 2rem 0;
  }

  #restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }
  #restaurant-img {
    width: 100%;
  }
  #restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
  }
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .inside #map-container {
    margin-top: 80px;
    grid-column-start: 2;
  }

  .inside #map {
    height: 100%;
    width: 100%;
    background-color: #ccc;
  }

}


body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
  color: #333;
  -webkit-padding-start: 0em;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  display: grid;
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  font-size: 1.4rem;
}
nav h1 a {
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  padding: 1rem 0rem;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  object-fit: cover;
}
#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details Page ====================== */
.inside .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #footer {
  bottom: 0;
  display: flex;
  justify-content: center;
}

/*-------------------
  Restaurant info
-------------------*/


#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1rem 0 2rem 2rem;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-address {
  font-size: 12pt;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 0px;
}

#restaurant-hours td {
  color: #666;
}

/*----------------
  Review part
-----------------*/

#reviews-container {
  padding: 30px 0px 80px;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  padding-bottom: 1pt;
  margin-left: 2rem;
}
 
#reviews-list {
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 7px 2px darkgrey;
}

.review-header {
  display: grid;
  grid-template-columns: auto auto;
  background: #333;
}

.review-name {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px;
}

.review-date {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem 1rem 0 0;
}

.rating {
  background: #f58500;
  width: fit-content;
  width: -moz-fit-content;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0 0 0.8rem;
}

.comments {
  padding: 0.4rem 1rem;
  font-size: 1rem;
}


